/* Fuente y estilos básicos */
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(to right, #333, #555);
    color: white;
}

footer {
    background: #333;
    color: white;
}

/* Estilos para productos */
#productos .card {
    margin: 10px;
    transition: transform 0.3s;
}

#productos .card:hover {
    transform: scale(1.05);
}

/* Estilos para Reseñas con Grid */
.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 20px;
}

.grid-item {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Responsividad para Productos */
@media (max-width: 768px) {
    #productos .card {
        width: 100%; /* Ocupa el 100% del ancho del contenedor */
    }
}

/* Responsividad para Navbar en pantallas pequeñas */
@media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
    }
}

/* Estilos para el Footer */
.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background: linear-gradient(to right, #333);
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
    text-align: center;
}

.footer-dark .social {
    text-align: center;
}

.footer-dark .social a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .social a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

/* Animaciones */
.animate__backInRight, .animate__backInDown {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce;
    animation-duration: 2s;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 65px;
    font-style: normal;
}
body {
    font-family: Arial, sans-serif;
}

.contact-form {
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #218838;
}